<b>Angular Learning</b> 
<br>




<a routerLink="/view-emp" routerLinkActive="active active-link">View Employee</a>
&nbsp;
<a routerLink="/edit-employee" routerLinkActive="active active-link" >Edit Employee</a>
&nbsp;
<a routerLink="/quick-incr" routerLinkActive="active active-link">Quantity increment</a>&nbsp;
<a routerLink="/quantity-selector" routerLinkActive="active active-link">Quantity Selector</a>&nbsp;
<a routerLink="/edit-emp-template-driven" routerLinkActive="active active-link">Edit Employee(Template Driven)</a>&nbsp;

<a routerLink="/edit-emp-reactive" routerLinkActive="active active-link">Edit Employee(Reactive )</a>&nbsp;

<a routerLink="/edit-emp-form-builder" routerLinkActive="active active-link">Edit Employee(Form Builder)</a>&nbsp;
<a routerLink="/employee-list" routerLinkActive="active active-link">Employees</a>&nbsp;
<hr>





<router-outlet></router-outlet>

