
 

<div *ngIf="bool">
 <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
        <div class="block">
        <h1>Edit Employee</h1>

       <br>
       <div class="form-group"> 
        <strong>Name:</strong> <br><input type="text" [formControl]="name" formControlName="name">
       
        <div *ngIf="name.errors?.minlength" class="invalid"><small id="balu">Name must be at least 4 characters long </small></div>
        <div *ngIf="name.errors?.maxlength" class="invalid"><small id="balu">Name must be max of  20 characters long </small></div>
        </div>
    <h2>Salary</h2>
 
    <div class="form-group">  <input type="number" [formControl]="salary" formControlName="salary" >
        
        <div *ngIf="salary.errors?.minlength" class="invalid"><small id="balu">Salary must be some value</small></div>
        </div>


        <h2>Is Permanent or not?</h2>
        <div class="form-group"> 
        <input type="radio" [formControl]="permanent" [value]='true' formControlName="permanent" >Yes 
        <input type="radio" [formControl]="permanent" [value]='false' formControlName="permanent">No

</div>
<!-- <div class="form-group"> 
      <h2>Department</h2>
        <select [formControl]="select" (change)="mod($event)" formControlName="select" >
        <option *ngFor="let item of department1" [value]="item.id" [selected]="Employee1.Department.id==item.id">{{item.name}}</option>
        </select> 
</div> -->

      <!-- <div formArrayName='skill'>
            <h3>Skills</h3> <button (click)="AddSkill()">Add Skills</button>
        
            <br>
            <br>
            <div *ngFor="let address of skill.controls; let i=index">
         
              <label>
                Skills:
                <input type="text" [formControlName]="i">
              </label>
            </div>
      
        </div> -->
      <br>
      <div class="form-group"> <button type="submit" [disabled]="!empForm.valid" >Save</button></div> 
        </div>
        
       
        </form>
        
        <div class="block">
                <strong>Employee Model</strong><br>
                <pre>{{Employee1 | json }}</pre>
            </div>
            <div class="block">
                    <strong>Angular Generated Form Model</strong><br>
                    <pre>{{empForm.value | json}}</pre>
                </div> 
              </div>               